@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

$font:'Poppins', sans-serif;
$bold: 700;
$ligth: 300;
$primarycolor:#000000;
$letterscolor:#FFFFFF;
$secondarycolor: #D7D7D7;
$subtitlecolor:#909090;
$gradient:linear-gradient(90deg, rgba(52,52,57,1) 0%, rgba(127,127,146,1) 27%, rgba(135,135,155,1) 32%, rgba(159,159,184,1) 48%, rgba(150,150,150,1) 69%, rgba(65,64,64,1) 100%, rgba(0,212,255,1) 100%);